{% extends 'page_2.html'%}
{% load static%}


{%block annees%}>1 ans{%endblock%}
{%block enfants%}
bambin-Maternelle-Ecolier
{%endblock%}
{%block profil%}{% static 'femme_t.png'%}{%endblock%}
{%block etoiles%}
        <p>
          <span>
        
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" />
            <img src="{% static 'etoile.png'%}" alt="" height="20" width="20" />
          </span>
          Etoiles
        </p>
{%endblock%}

{%block info%}
            <h2 class="nom"> Pamela <img src="{% static 'qualite.png'%}" width="40" height="40" /></h2>
            <h2 class="age">Age <br/><span>2 ans</span></h2>
            <h2 class="t_horaire">Taux Horaire<br/><span>10h/jrs</span></h2>

{%endblock%}
{%block description%}
Bonjour, je m'appelle Pamela, j'ai 21 ans, je parle français et un peu espagnol. J'ai pris soin de mon frère jusqu'à il y a quelque temps avec eux. Je suis ponctuelle. J'aime être dynamique dans mon diététique et productive dans mes tâches et mes engagements.
Je suis responsable, j'aime que les enfants soient éduqués, transmettent personnellement mes valeurs pour leur vie essentielle.
{%endblock%}

{%block caracteristique%}
        
            <div class="car">Reactif</div>
            <div class="car">Alertes</div>
{%endblock%}

{%block propos%}
        <article>
            <div>
                <h1 class="text"><img src="{%static 'permis.png'%}" width="40" height="40" />Permis de conduire <span class="propos">oui</span></h1>
                <h1 class="text"><img src="{%static 'enfants.png'%}" width="40" height="40" />A des Enfants............<span class="propos">Oui</span></h1>
                <h1 class="text"><img src="{%static 'formation.png'%}" width="40" height="40" />Formation.................<span class="propos">oui</span></h1>
            </div>
            <div>
                <h1 class="text"><img src="{%static 'language.png'%}" width="40" height="40" />Langue...........<span class="propos">francais</span></h1>
                <h1 class="text"><img src="{%static 'fumeur.png'%}" width="30" height="40" />Fumeur..................<span class="propos">Non</span></h1>
                <h1 class="text"><img src="{%static 'voiture.jpg'%}" width="40" height="40" />Voiture.................<span class="propos">oui</span></h1>
            </div>
        </article>
    </section>
    <section class="bloc_4">
        <h1>Competence / Je suis a l'aise avec</h1>
        <article>
            <div>
                <h1 class="text"><img src="{%static 'travaux.png'%}" width="40" height="40" />Travaux manuels<span class="propos"></span></h1>
                <h1 class="text"><img src="{%static 'dessin.png'%}" width="40" height="40" />Dessin...................<span class="propos"></span></h1>
                <h1 class="text"><img src="{%static 'lire.png'%}" width="40" height="40" />Faire la lecture....<span class="propos"></span></h1>
                <h1 class="text"><img src="{%static 'musique.png'%}" width="40" height="40" />Musique..............<span class="propos"></span></h1>
                <h1 class="text"><img src="{%static 'language.png'%}" width="25" height="25" />Langues...............<span class="propos"></span></h1>
                <h1 class="text"><img src="{%static 'jeu.png'%}" width="40" height="40" alt="logo"/>Jeux.....................<span class="propos"></span></h1>
            </div>
            <div>
                <h1 class="text"><img src="{%static 'animal.png'%}" width="40" height="40" />Animaux domestique <span class="propos"></span></h1>
                <h1 class="text"><img src="{%static 'ballai.png'%}" width="40" height="40" />Tache menagere..........<span class="propos"></span></h1>
                <h1 class="text"><span class="propos"></span></h1>
                <h1 class="text"><span class="propos"></span></h1>
                <h1 class="text"><span class="propos"></span></h1>
                <h1 class="text"><span class="propos"></span></h1>
            </div>
        </article>
{%endblock%}
{%block NouNou%} 
<div class="wrapper"> 
  <i id="left" class="fa-solid  fas fa-angle-left"></i> 
  <ul class="carousel">
    <a href="{%url 'Sophie'%}">
      <li class="card"> 
          <div class="img"><img src="{% static 'femme_s.png'%}" alt="" draggable="false"> </div> 
          {%for nounous in nounou%}
          {%if "Sophie" in nounous.nom%}
          <h2 style="color: black; font-weight:bold;"> 
                {{nounous.nom}}
            </h2> 
            {%endif%}
            {%endfor%}
          <span>
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" /> 
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" />
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" />
        </span> 
      </li> 
    </a>
    <a href="{%url 'Alice'%}">
      <li class="card"> 
          <div class="img"><img src="{% static 'femme_g.png'%}" alt="" draggable="false"> </div>
          {%for nounous in nounou%}
          {%if "Alice" in nounous.nom%}
          <h2 style="color: black; font-weight:bold;">{{nounous.nom}}</h2> 
          {%endif%}
          {%endfor%}
          <span>
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" /> 
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" />
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" />
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" />
            
          </span>      
      </li> 
    </a>
    
      <a href="{%url 'Lohoues'%}">
      <li class="card"> 
          <div class="img"><img src="{% static 'femme_f.png'%}" alt="" draggable="false"> </div> 
          {%for nounous in nounou%}
          {%if "Lohoues" in nounous.nom%}
          <h2 style="color: black; font-weight:bold;">{{nounous.nom}}</h2> 
        
          {%endif%}
          {%endfor%}
          <span>
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" /> 
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" />
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" />
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" />
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" />
            
          </span> 
        </span> 
      </li> 
      </a>
      <a  href="{%url 'Sarah'%}">
      <li class="card"> 
          <div class="img"><img src="{% static 'femme_c.png'%}" alt="" draggable="false"> </div> 
          {%for nounous in nounou%}
          {%if "Sarah" in nounous.nom%}
          <h2 style="color: black; font-weight:bold;">{{nounous.nom}}</h2> 
        
          {%endif%}
          {%endfor%}
          <span><img src="{% static 'etoile.png'%}" alt="" height="16" width="16" /> </span> 
      </li> 
      </a>
      <a href="{%url 'Latifa'%}">
      <li class="card"> 
          <div  class="img"><img src="{% static 'femme_j.png'%}" alt="" draggable="false"> </div> 
          {%for nounous in nounou%}
          {%if "Latifa" in nounous.nom%}
          <h2 style="color: black; font-weight:bold;">{{nounous.nom}}</h2> 
        
          {%endif%}
          {%endfor%}
          <span>
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" />
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" />
            <img src="{% static 'etoile.png'%}" alt="" height="16" width="16" />
            
        </span> 
          
      </li> 
      </a>
  </ul> 
  <i id="right" class="fa-solid fas fa-angle-right"></i> 
</div> 
</section>
{%endblock%}
{%block commentaire%}
<section class="bloc_4">
  <h1>Commentaire</h1>
0 commentaire
</section>
{%endblock%}
{%block disponiblite%}
<div class="availability">
  <h1>
                                                  Disponibilité
                                          </h1>
  <div class="mb-2">
      <div class="table-responsive">

          
          <table class="table table-borderless table-sm">
              <tr>
                  <td class="ps-0"></td>
                                                                          <th class="day">Lu</th>
                                                                          <th class="day">Ma</th>
                                                                          <th class="day">Me</th>
                                                                          <th class="day">Je</th>
                                                                          <th class="day">Ve</th>
                                                                          <th class="day">Sa</th>
                                                                          <th class="day">Di</th>
                                                                  </tr>
              <tr>
                  <th class="ps-0">Matin</th>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="unavailable"><i class="fa-solid fa-square"></i></td>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                  </tr>
              <tr>
                  <th class="ps-0">Après midi</th>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="unavailable"><i class="fa-solid fa-square"></i></td>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="unavailable"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                  </tr>
              <tr>
                  <th class="ps-0">Tard dans l&#039;après-midi</th>
                                                                          <td class="available"><i class="fa-solid fa-square"></i></td>
                                                                          <td class="unavailable"><i class="fa-solid fa-square"></i></td>
                                                                          <td class="unavailable"><i class="fa-solid fa-square"></i></td>
                                                                          <td class="available"><i class="fa-solid fa-square"></i></td>
                                                                          <td class="unavailable"><i class="fa-solid fa-square"></i></td>
                                                                          <td class="unavailable"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                  </tr>
              <tr>
                  <th class="ps-0">Soir</th>
                                                                          <td class="unavailable"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="unavailable"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="unavailable"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="available"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="unavailable"><i class="fa-solid fa-square-check"></i></td>
                                                                          <td class="unavailable"><i class="fa-solid fa-square-check"></i></td>
                                                                  </tr>
          </table>
      </div>
  </div>
</div>

{%endblock%}

{%block contact%}
    {%for nounous in nounou%}
    {%if "Pamela" in nounous.nom%}
      
    <a href="{%static 'Formulaire'%}"><h2>Contacter {{nounous.nom}}</h2></a>

  {%endif%}
{%endfor%}
            
{%endblock%}