header {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}



nav {
    /*margin: 27px auto 0;*/
    position:relative;
    height: 50px;
    width: 600px;
    /*background-color: #34495e;*/
    border-radius: 8px;
    font-size: 0;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;

    
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  nav a:nth-child(1) {
    width: 100px;
  }
  nav a:nth-child(2) {
    width: 110px;
  }
  nav a:nth-child(3) {
    width: 100px;
  }
  nav a:nth-child(4) {
    width: 160px;
  }
  nav a:nth-child(5) {
    width: 120px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
  }
  nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #3498db;
  }
  nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
  }
  nav .start-contact, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #e67e22;
  }

.bloc_principal{
	position:relative;
	
	border-radius: 40px 40px 0px 0px;
	bottom: 30px;
	background-color: white;
	z-index:1;
}
header{
	
	background-color: rgba(103, 230, 187,0.2);
	height: 400px;
}
.bloc_0{
	
	display:inline-block;
	margin-right: 400px;
	

}
.contacter{
	position: absolute;
	display: inline-block;
	border:1px black solid;
	right:20px;
	border-radius:20px;
	top:3px;
}
.contacter h1{
	padding-left:100px;
	padding-right:100px;
}
.contacter h2{
	text-align:center;
}
.boutton_contacter{
	border:1px black solid;
	border-radius: 30px;
	margin:5px;
	background-color:white;
}

.info{
	
	display: inline-block;
	vertical-align: 60px;

}
.info h2{
	color:white;
	font-size: 1.2;
}
.nom{
	
	padding-left: 70px;
}
.age,.t_horaire{
	display: inline-block;
	font-size: 20px;
	
}
.t_horaire{
	margin-left: 100px;
}
.image_nounou{
	display:inline-block;

	margin-top: 100px;
	
}

.bloc_1{

	padding-left:30px;
}
.bloc_3{
	padding-left: 30px;
}
.bloc_4{
	padding-left: 30px;
}
.bloc_1 p{
	
	font-size: 1.5em;
	padding: 15px;
}
.bloc_2{
	border-bottom:1px black solid;
	padding-left: 25px;
}
.bloc_2 h1{
	margin-left:20px ;
}
.caracteristique{
	margin-left: 5px;
	border-bottom: 1px black solid;
	
	height: 110px;
	padding-left: 30px;
}
.car{
	display: inline-block;
	border:1px black solid;
	border-radius: 20px;
	margin-right: 8px;
	padding:8px;
	background-color: rgba(103, 230, 187,0.3);
}

span{
	font-size:16px;
}
article div{
	display: inline-block;
	border: 1px black solid;
	border-radius: 20px;
	padding:3px;
	background-color:#e74c3c ;
	
}
article{
	margin:2px;

}
.text{
	text-align: right;
}
.propos{
	
	margin-left: 200px;
	
}
div img{
	float:left;
}
.contacter{
	display: inline-block;
	background-color: rgba(103, 230, 187,0.3);
}
.wrapper { 
    margin-top: 100px;
    margin-left: 100px;
      max-width: 1100px; 
      width: 100%; 
      position: relative;
      
  
  } 
  
  .wrapper i { 
      height: 50px; 
      width: 50px; 
      background: rgb(39, 49, 136); 
      text-align: center; 
      line-height: 50px; 
      border-radius: 50%; 
      cursor: pointer; 
      position: absolute; 
      top: 50%; 
      font-size: 1.25 rem; 
      transform: translateY(-50%); 
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
  
  } 
  
  .wrapper i:first-child { 
      left: -22px; 
  
  } 
  
  .wrapper i:last-child { 
      right: -22px; 
  
  } 
  
  .wrapper .carousel { 
      display: grid; 
      grid-auto-flow: column; 
      grid-auto-columns: calc((100% / 3) - 12px); 
      gap: 16px; 
      overflow-x: auto; 
      scroll-snap-type: x mandatory; 
      scroll-behavior: smooth; 
      scrollbar-width: 0; 
  } 
  
  .carousel::-webkit-scrollbar { 
      display: none; 
  } 
  
  .carousel :where(.card, .img) { 
      display: flex; 
      align-items: center; 
      justify-content: center; 
  } 
  
  .carousel.dragging { 
      scroll-snap-type: none; 
      scroll-behavior: auto; 
  } 
  
  .carousel.no-transition { 
      scroll-behavior: auto; 
  } 
  
  .carousel.dragging .card { 
      cursor: grab; 
      user-select: none; 
  } 
  
  .carousel .card { 
    
    
      scroll-snap-align: start; 
      height: 480px; 
      list-style: none; 
      background-image: url("tache_2.png") ; 
      border-radius: 30px; 
      display: flex; 
      cursor: pointer; 
      width: 98%; 
      padding-bottom: 15px; 
      align-items: center; 
      justify-content: center; 
      flex-direction: column; 
  } 
  
  .card .img { 
      background: transparent; 
      width: 334px; 
      height: 320px; 
      border-radius:20px ;
  
  } 
  
  .card .img img { 
      width: 140px; 
      height: 140px; 
      object-fit: cover; 
      border-radius: 50%; 
      border: 4px solid #fff; 
  } 
  
  .card h2 { 
      font-weight: 500; 
      font-size: 1.56rem; 
      margin: 30px 0 5px; 
  } 
  
  .card span { 
      color: #6a6d78; 
      font-size: 1.31rem; 
  
  } 
  
  @media screen and (max-width: 900px) { 
      .wrapper .carousel { 
          grid-auto-columns: calc((100% / 2) - 9px); 
  
      } 
  } 
  
  @media screen and (max-width: 600px) { 
      .wrapper .carousel { 
          grid-auto-columns: 100%; 
  
      } 
  }



.bloc_5 .text_bloc4{
	text-align: center;
	font-size:2.1em;
}
* {
	box-sizing: border-box;
  }
  
  
  
  .slider-0 {
    margin-left: 260px;
	width: 800px;
	text-align: center;
	overflow: hidden;
  }
  
  .slides {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	
	
	
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	
	/*
	scroll-snap-points-x: repeat(300px);
	scroll-snap-type: mandatory;
	*/
  }
  .slides::-webkit-scrollbar {
	width: 10px;
	height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
	background: transparent;
  }
  .slides > div {
	scroll-snap-align: start;
	flex-shrink: 0;
	width: 350px;
	height: 350px;
	margin-right: 50px;
	border-radius: 10px;
	
	background: url('quotes.png') no-repeat;
	/*transform-origin: center center;*/
	background-color: rgba(0, 0, 0, 0.1);
	transform: scale(1);
	transition: transform 0.5s;
	position: relative;
	
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
  }
  .slides > div:target {
  /*   transform: scale(0.8); */
  }
  .author-info {
	background: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 0.75rem;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
  }
  .author-info a {
	color: white;
  }
  img {
	/*object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;*/
	border-radius: 100%;
  }
  
  .slider-0 > a {
	display: inline-flex;
	width: 1.5rem;
	height: 1.5rem;
	background: white;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 0 0 0.5rem 0;
	position: relative;
  }
  .slider-0 > a:active {
	top: 1px;
  }
  .slider-0 > a:focus {
	background: #000;
  }
  
  /* Don't need button navigation */
  @supports (scroll-snap-type) {
	.slider-0 > a {
	  display: none;
	}
  }
.bloc_6 h1{
    font-size:1.8em;
    text-align:center;
}
.inscrit{
    position: fixed;
    right: 300px;
    bottom:0px;
    font-size: 1.7em;
    padding-right: 340px;
    padding-left: 340px;
    border:1px black solid;
    background-color:#3498db ;
    border-radius: 20px;
    z-index: 2;
    color:white;

}
.inscrit a{
    text-decoration:none;
    color:white;
}
.ps-0{
  padding-bottom: 5px;
  font-size:1.2em;
}
.day{
  font-size: 1.3em;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 30%;
  background-color: #e74c3c;
}
.mb-2{
  margin-top:30px;
  display:inline-block;
  margin-left:20px;
  border-bottom:1px rgba(190, 102, 102, 0.767) solid;
  border-radius:30px;
  

}
.available i{
  display:block;
  width: 100px;
  height: 20px;
  background: url("crochet_1.jpg") no-repeat center;

}
.carousel a:hover {
  border-radius:20px;
  box-shadow:0px 0px 10px rgb(218, 78, 78);
}
.availability h1{
  margin-left: 30px;
}